.game{
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 0 100%;
}

.game__pausescreen {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: var(--z-index-low);
}

.game__gameboard {
  height: 90vh;
}

.game__displayboard {
  height: 10vh;
}

@media only screen and (min-width: 64em) {

  .game {
    max-height: 90vh;
  }

  .game__gameboard {
    height: 80vh;
  }


}
