:root {
  --color-star-great: var(--color-gold);
  --color-star-ok: #FF9800;
  --color-star-bad: var(--color-red);
}


.star-container {
  display: flex;
  flex: 0 0 100%;
  justify-content: center;
  align-items: center;

}

.star {
  margin-right: .5rem;
  width: 30%;
  height: 30%;
}

.star--3 {
  fill: var(--color-star-great);
}

.star--2 {
  fill: var(--color-star-ok);
}

.star--1 {
  fill: var(--color-star-bad);
}


