:root{

}

.app {
  position: relative;
  display: flex;
  flex: 0 0 100%;
  height: 100vh;
}

.app__gameview {
  display: flex;
  flex: 0 0 100%;
}

.app__navview {
  position: absolute;
  background-color: var(--color-white);
  top:0;
  right:0;
  z-index: var(--z-index-medium);
  width: 0;
  height: 100%;
  transition: width .8s;
}

.app__navview--expanded {
  width: 50%;
}

@media only screen and (min-width: 48em) {

  .app__navview--expanded {
    width: 30%;
  }

}

@media only screen and (min-width: 64em) {

  .app {
    justify-content: center;
    align-items: center;
  }
  .app__gameview {
    max-width: 1024px;
    box-shadow: 0 1rem 3rem rgba(0,0,0,.6);
  }
}
