:root {
  --color-primary-dark: #0288D1;
  --color-primary-light: #B3E5FC;
  --color-primary: #03A9F4;
  --color-accent: #7C4DFF;
  --color-accent-dark: #6141c1;

  --color-primary-text: #212121;
  --color-secondary-text: #757575;
  --color-divider: #BDBDBD;

  --color-white: #fff;
  --color-black: #000;

  --color-gold: #FFEB3B;

  --z-index-low: 100;
  --z-index-medium: 500;
  --z-index-high: 1000;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

body {
  box-sizing: border-box;
  padding: 3rem;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-white);
}
