:root {
  --color-dark-primary: #0288D1;
  --color-light-primary: #B3E5FC;
  --color-primary: #03A9F4;
  --color-accent: #7C4DFF;

  --color-primary-text: #212121;
  --color-secondary-text: #757575;
  --color-divider: #BDBDBD;

  --color-white: #fff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding: 3rem;
}

::selection {
  background-color: var(--color-primary);
  color: var(--color-white);
}
